<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
</head>

<body>

<h1>Markus.pl</h1>
{% include "_partials/menu.html.twig" %}

<form action={{path('loginPost')}} method="POST">
    <input class="form-control" type="text" name="L0gin" placeholder="Login..." />
    <input class="form-control" type="password" name="P@ssword" placeholder="Hasło..." />
    <input class="form-control" type="submit" value="Zaloguj" />
</form>

</body>
</html> 