<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <title>Marksus.pl - Strona Główna</title>
</head>

<body>

<header>
    <h1>Markus.pl</h1>
    {% include "_partials/menu.html.twig" %}
</header>

<section id="slider">
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Moduly</p>
                    <ul>
                        <li>Oceny.</li>
                        <li>Nieobecności.</li>
                        <li>Plan Lekcji.</li>
                    </ul>    
            </div>
            <div class="col">
                <p>Zalety Dla Ucznia</p>
                    <ul>
                        <li>Prostota Obsługi.</li>        
                        <li>Średnia Ważona.</li>
                        <li>Plan zajęć.</li>
                    </ul>
            </div>
            <div class="col">
                <p>Zalety Dla Szkoly</p>
                    <ul>
                        <li>Średnia Ważona.</li>
                        <li>Prostota zarządzania.</li>        
                    </ul>
            </div>
        </div>
    </div>
</section>

<footer>
    <p>Markus.pl by <a href="mailto:jakub.magiera@edu.wsti.pl">Jakub Magiera</a></p>
</footer>
</body>
</html> 