{% extends "admin/base.html.twig" %}

{% block title %}<title>Dodaj przedmiot - Admin</title>{% endblock %}

{% block body %}
    <form action="{{path('SubjectAddSaveAdmin')}}" class="m-4" method="POST">
        <label for="name">Nazwa</label>
        <input class="form-control" type="text" id="name" name="name" /><br />

        <label for="shortcut">Skrót</label>
        <input class="form-control" id="shortcut" type="text" name="shortcut" /><br />

        <input class="form-control" type="submit" value="Zapisz" />
    </form>
{% endblock %}