{% extends "admin/base.html.twig" %}

{% block body %}
    <form action="{{path('TeacherAddSaveAdmin')}}" class="m-4" method="POST">
        <label for="Name">Imię</label>
        <input class="form-control" type="text" id="Name" name="name"/><br />

        <label for="Surname">Nazwisko</label>
        <input class="form-control" id="Surname" type="text" name="surname"/><br />

        <label for="Email">Email</label>
        <input class="form-control" type="text" id="Email" name="email"/><br />

        <label for="Telephone">Telefon</label>
        <input class="form-control" id="Telephone" type="tel" name="telephone"/><br />

        <input class="form-control" type="submit" value="Zapisz" />
    </form>
{% endblock %}