{% extends "teacher/base.index.twig" %}

{% block body %}
    <table class="table">
        <tr><th>Lp.</th><th>Klasa</th><th>#</th><th>#</th></tr>
        {% set i = 1 %}
        {% for v in schoolClass %}
            <tr><td>{{i}}</td><td>{{v.symbol}}</td><td><a href="{{path('marksClassPageTeacher',{id:v.id})}}">Dodaj Oceny</a></td><td><a href="{{path('marksClassViewPageTeacher',{id:v.id})}}">Zobacz Oceny</a></td></tr>
        {% set i = i + 1 %}
        {% endfor %}
    </table>
{% endblock %}