{% extends "teacher/base.index.twig" %}

{% block title %} Wybór klasy - Oceny - Nauczyciel{% endblock %}

{% block body %}
<section>
    <label for="">Wybierz Klase</label>
    <form>
        <select>
            {% for value in schoolClass %}
                <option value="{{value.id}}">{{value.symbol}}</option>
            {% endfor %}
        </select>
    </form>
</section>
{% endblock %}